<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Creator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Add Video</h1>
    <form action="#" th:action="@{/addVideo}" th:object="${video}" method="post">
        <div class="form-group">
            <label for="creator">Select Creator:</label>
            <select class="form-control" name="creator" id="creator">
                <option th:each="creator : ${allCreators}"
                        th:value="${creator.id}"
                        th:text="${creator.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">Title:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" />
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" th:field="*{description}" />
        </div>

        <div class="form-group">
            <label for="description">Publication Date:</label>
            <input type="date" class="form-control" id="DatePublication" th:field="*{datePublication}" />
        </div>

        <div class="form-group">
            <label for="description">URL:</label>
            <input type="text" class="form-control" id="url" th:field="*{url}" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
